* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("https://i.pinimg.com/originals/08/d9/ef/08d9ef7723de602edefa8af825d9a1e2.gif");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.iron-man {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 20px;
}